:root{
    --primario: #9C27BB;
    --primarioOscuro: #89119D;
    --secundario: #f3c163;
    --secundarioOscuro: rgb(233,287,2);
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal:'Staatliches', cursive;
}

html{
    box-sizing: border-box;
    font-size: 62.5% !important; /*1 rem == 10px*/
}

*, *::before, *::after{
    box-sizing: inherit;
}

/*Globales*/

body{
    font-size: 1.6rem !important;
    line-height: 1.5 !important;
    font-family: var(--fuentePrincipal) !important;
    background-color: #F0F0F0;
}

.body__img{
    background-image: url(/img/Logo_DyD.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 5rem !important;
}

.parrafo{
    color:var(--negro) !important;
    font-family: var(--fuentePrincipal) !important;
    text-align: center;
}

p{
    font-size: 1.8rem !important;
    font-family: var(--fuentePrincipal) !important;
    
}

*{
    text-decoration: none !important;
}

img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1,h2,h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1{
    font-size: 3.5rem !important;
}

h2{
    font-size: 3.2rem !important;
}

h3{
    font-size: 2.4rem !important;
}


/*Header*/

.titulo__bienvenido{
    color: var(--negro);
    margin : 2rem 0rem;
}

.tienda-marca h3{
    margin-top: 1rem;
}

.dropdown-item h3{
    font-size: 1.6rem !important;
    color: var(--negro);
}

.dropdown-item:hover{
    background-color: rgb(116, 112, 112) !important;
}

.dropdown-item:hover h3{
  color: var(--blanco);
}

.form-control {
    width: 100%;
    padding: 1rem 1.5rem !important;
    font-size: 1rem;
    font-weight: 200rem !important;
    line-height: 1.5;
}

.container__fluid--activo,
.nav-item :hover{
color: var(--blanco) !important;
}

/*Grid*/

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   margin-left: 2rem;
}

@media (min-width: 768px){
    .grid{
        grid-template-columns: repeat(3, minmax(50px, 1fr));
    }
}

/*main*/

.subtitulo__productos{
    margin-top: 2rem;
}

.producto{
    margin-left: 1.5rem;
}

.producto__descripcion,
.producto__precio
{
    color: black;
    text-align: center;
    font-family: var(--fuentePrincipal) !important;
    text-decoration: none !important;
}

.producto__descripcion{
    font-size: 2rem !important;
}

.producto__precio{
    font-size: 1.8rem !important;
    color: var(--secundario);
}

.shadow{
    -webkit-box-shadow: -8px 0px 22px 42px rgba(0,0,0,0.71);
-moz-box-shadow: -8px 0px 22px 42px rgba(0,0,0,0.71);
box-shadow: -8px 0px 22px 42px rgba(0,0,0,0.71);
margin-right: 2rem;
margin-bottom: 3rem;
margin-top: 2rem;
}

/*Footer*/

.footer{
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;
}

.footer__texto{
    color: var(--negro) !important;
    text-align: center;
    font-family: var(--fuentePrincipal) !important;
    font-size: 1.8rem !important;

}

/*Nosotros*/

@media(min-width: 768px)
{
    .nosotros{
        grid-template-columns: repeat(2,auto);
    }

    .nosotros__imagen{
        grid-column: 2/3;
    }

    .nosotros__parrafo{
        text-align: center !important;
    }

    .bloques{
        grid-template-columns: repeat(4,auto) !important;
    }
    
}

.nosotros{
    display:grid;
    grid-template-rows: repeat(2, auto);
    margin-top: 1.5rem;
    column-gap: 1rem;
}

.nosotros__imagen{
    max-width: 100%;
    width: 100%;
    grid-row: 1/2;
    margin: 0 auto;
}

.nosotros__contenido{
    margin-top: 2.5rem;
    line-height: 3rem;
}

.nosotros__partes{
    margin-bottom: 1rem;
}

.nosotros__parrafo{
    color: var(--negro);
    margin: 0 3rem;
    text-align: justify;
}

.comprar__titulo{
    margin: 4rem;
}

.bloque{
    text-align: center;
}

.bloque__imagen{
    max-width: 25%;
}

.bloques{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 1rem;
}

.bloque__parrafo{
    text-align: justify;
    margin: 0 1rem;
}

.comprar{
    margin-bottom: 4rem;
}

.bloque__titulo{
    margin: 1.5rem 0;
}

/*Producto*/

@media (min-width: 768px){
    .producto{
        display: grid;
        grid-template-columns: repeat(2,auto);
        column-gap: 2rem;
    }

    .producto__contenido{
        margin-top: 4rem;
    }

    .formulario{
        display: grid;
        grid-template-columns: repeat(3,1fr) !important;
    }

    .formulario__submit{
        transition: background-color 0.7s ease;
        grid-column: 1/2 !important;
    }

    .formulario__submit:hover{
        background-color: var(--secundario);
        cursor: pointer;
    }
}

@media (min-width: 500px){
    .formulario{
        display: grid;
        grid-template-columns: repeat(3,auto) !important;
       
    }

    .formulario__submit{
        grid-column: 1/4;
    }

}

.nombre__producto{
    margin-top: 1.5rem;
}

.producto__contenido{
    margin-right: 1rem;
}

.producto__imagen{
   margin: 0 auto;
    display: grid;
}

.formulario{
    display: grid;
    grid-template-columns: repeat(3,auto-fit);
    gap: 2rem;
}

.formulario__cantidad {
    border: .4rem solid grey;
    font-size: 1.6rem;
    font-family: var(--fuentePrincipal);
    padding-top: 1rem;
    padding-bottom: .8rem;
}

.formulario__talla{
    border: .4rem solid grey;
    font-size: 1.6rem;
    font-family: var(--fuentePrincipal);
    padding: 1rem;
}

.formulario__color{
    border: .4rem solid grey;
    font-size: 1.6rem;
    font-family: var(--fuentePrincipal);
    padding: 1rem;
}

.formulario__submit{
    margin-bottom: 3rem;
    background-color: yellow;
    font-size: 1.5rem;
    font-family: var(--fuentePrincipal) !important;
    padding: 1.5rem;
}

.formulario__submit:hover{
    background-color: var(--secundario);
    cursor: pointer;
}