:root{
    --primario: #9C27BB;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233,287,2);
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal:'Staatliches', cursive;
}

html{
    box-sizing: border-box;
    font-size: 62.5% !important; /*1 rem == 10px*/
}

*, *::before, *::after{
    box-sizing: inherit;
}

/*Globales*/

body{
    background-color: var(--primario);
    font-size: 1.6rem !important;
    line-height: 1.5 !important;
}

p{
    font-size: 1.8rem !important;
    font-family: Arial, Helvetica, sans-serif !important;
    color: var(--blanco);
}

*{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1,h2,h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1{
    font-size: 3.5rem !important;
}

h2{
    font-size: 3.2rem !important;
}

h3{
    font-size: 2.4rem !important;
}

.logo-tienda{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}	

.titulo h1{
    color: var(--negro);
}

.tienda-marca h3{
    margin-top: 1rem;
}

.dropdown-item h3{
    font-size: 1.7rem !important;
}

.dropdown-item:hover{
    background-color: var(--negro) !important;
}

.form-control {
    width: 100%;
    padding: 1rem 1.5rem !important;
    font-size: 1rem;
    font-weight: 200rem !important;
    line-height: 1.5;
}